
@{
    ViewBag.Title = "Index";
}

<h2>Group</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>@Html.ActionLink("Посмотреть новую группу", "List", "Group")</p>
    <p>@Html.ActionLink("Добавить новую группу", "Add", "Group")</p>


</body>
</html>