
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><p>@Html.ActionLink("Курсы", "GetAll", "Course") </p></li>

    <li><p>@Html.ActionLink("Пользователи", "Index", "User") </p></li>

    <li><p>@Html.ActionLink("Группа", "Index", "Group") </p></li>
</ul>

